@using MongoDB.Bson.IO;
@model SBP_Mongo.Models.DodjelaVozila

@{
    ViewData["Title"] = "Create Dodjela vozila";
}
<br />
<h2 class="text-info">Create</h2>
<br />
<h4>Dodjela vozila</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>     
            <div class="form-group">
                <label asp-for="Uposlenik" class="control-label"></label>
                <select asp-for="Uposlenik" class="form-control" required>
                    @foreach (var uposlenik in ViewBag.Uposlenik)
                    {
                        <option value="@uposlenik.Id">@uposlenik.Ime @uposlenik.Prezime</option>
                    }
                </select>
                <span asp-validation-for="Uposlenik" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Vozilo" class="control-label"></label>
                <select asp-for="Vozilo" class="form-control">
                    @foreach (var vozilo in ViewBag.Vozilo)
                    {
                        <option value="@vozilo.Id">@vozilo.ModelVozila @vozilo.RegistracijskaOznaka</option>
                    }
                </select>
                <span asp-validation-for="Vozilo" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Dodjeljeno" class="control-label">Datum dodjele</label>
                <input asp-for="Dodjeljeno" class="form-control" required />
                <span asp-validation-for="Dodjeljeno" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="VratitiDo" class="control-label">Datum vraćanja</label>
                <input asp-for="VratitiDo" class="form-control" required />
                <span asp-validation-for="VratitiDo" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" fdprocessedid="v1udt9" />
                <a asp-action="Index" class="btn btn-outline-light" fdprocessedid="brqypi">Back to List</a>
            </div>
            <br/>
        </form>
    </div>
</div>
<br/>
