@model IEnumerable<SBP_Mongo.Models.DodjelaVozila>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uposlenik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vozilo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dodjeljeno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VratitiDo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uposlenik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vozilo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dodjeljeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VratitiDo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
