@model IEnumerable<SBP_Mongo.Models.DodjelaVozila>

@{
    ViewData["Title"] = "Index";
}

<h1>Dodijeli vozila</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                Uposlenik
            </th>
            <th>
                Vozilo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dodjeljeno)
            </th>
            <th>
                Povratak
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.UposlenikO.Ime)
                @Html.DisplayFor(modelItem => item.UposlenikO.Prezime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.VoziloO.ModelVozila)
                @Html.DisplayFor(modelItem => item.VoziloO.RegistracijskaOznaka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dodjeljeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VratitiDo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
