@model IEnumerable<SBP_Mongo.Models.Vozilo>

@{
    ViewData["Title"] = "Vozila";
}
<br/>
<h2>Vozila</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-primary" fdprocessedid="v1udt9">Create New</a>
</p>
<table class="table">
    <thead>
<<<<<<< Updated upstream
        <tr class="table-primary">
=======
        <tr>
            <th>
                Picture
            </th>
>>>>>>> Stashed changes
           
            <th>
                Model vozila
            </th>
            <th>
                Broj šasije
            </th>
            <th>
                Registracijska oznaka
            </th>
            <th>
                Godina proizvodnje
            </th>
            <th>
                Vrsta vozila
            </th>
            <th>
                Lokacija
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gorivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
<<<<<<< Updated upstream
            <tr class="table-dark">
=======
        <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.PictureUrl))
                    {
                        <img src="@Url.Content(item.PictureUrl)" alt="Picture" style="width: 100px; height: auto;" />
                    }
                </td>
>>>>>>> Stashed changes
            
            <td>
                @Html.DisplayFor(modelItem => item.ModelVozila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSasije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistracijskaOznaka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GodinaProizvodnje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrstaVozila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLokacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gorivo)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success" fdprocessedid="oaubug">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning" fdprocessedid="0i8oo">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" fdprocessedid="z0p2rq">Delete</a>  
            </td>
        </tr>
}
    </tbody>
</table>
