@model IEnumerable<SBP_Mongo.Models.Vozilo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelVozila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojSasije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistracijskaOznaka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GodinaProizvodnje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrstaVozila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLokacije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gorivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelVozila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSasije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistracijskaOznaka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GodinaProizvodnje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrstaVozila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLokacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gorivo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
