@model IEnumerable<SBP_Mongo.Models.Vrsta>

@{
    ViewData["Title"] = "Vrste vozila";
}
<br/>
<h2>Vrste vozila</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-primary" fdprocessedid="v1udt9">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-dark">
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success" fdprocessedid="oaubug">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning" fdprocessedid="0i8oo">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" fdprocessedid="z0p2rq">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
